# Desactivar listado de directorios
Options -Indexes

# Activar mod_rewrite
RewriteEngine On

# Bloquear acceso a archivos sensibles
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|sql|bak)$">
    Require all denied
</FilesMatch>

# Redirigir URL con .html hacia versión sin extensión
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [R=301,L]

# Permitir acceso interno a archivos .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)$ $1.html [L]

# Redirigir raíz a main
RewriteRule ^$ main [L]